<!-- <div class="text-layout">
    
    <h1>{{ name | titlecase}}</h1>
    <h1>{{ value | number }}</h1>
    <h1>{{ obj | json }}</h1>

</div>



<button pButton
        icon="pi pi-check" 
        iconPos="right"
        class="p-button-primary"
        label="Cambiar nombre" 
        >
    
</button>

<p-card [header]="name | titlecase"
        subheader="Ingeniero Electrónico"
        [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin-top': '20px'}">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card> -->


<app-menu></app-menu>

<router-outlet></router-outlet>









































<!-- 5 meses desarrollando un proyecto de un curso de la universidad, junto a un grupo de compañeros. Ahí, pude aprender a usar Java, HTML, NodeJs, MySQL y AWS

5 meses en el mismo proyecto usamos Spring Framework -->

